@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/Inter-0.woff2) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/Inter-1.woff2) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(/assets/Inter-2.woff2) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/Inter-3.woff2) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(/assets/Inter-4.woff2) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/Geist-0.woff2) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/Geist-1.woff2) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 600;
  src: url(/assets/Geist-2.woff2) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/Geist-3.woff2) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 800;
  src: url(/assets/Geist-4.woff2) format("truetype");
}
